.week_calendar_container {
    width: 100%;
    padding: 40px;
    background-color: rgba($color: gray, $alpha: .2);
    border: none;
    border-radius: 10px;
}

.react-calendar__tile{  
    transition: .2s all;
    &:hover{
        background-color: #006EDC !important;
    }
}

.react-calendar__tile--now {
    background-color: transparent;
}

.tesv123 {
    background-color: pink;
}

.white-tile{
    border:  1px solid rgba($color: gray, $alpha: .7) !important;
    padding: 20px !important;
}

.react-calendar__navigation__label{
    transition: .5s all;
    &:hover
    {
        opacity: .5 !important;
        background-color: rgba($color: gray, $alpha: .3) !important;
    }
}

.react-calendar__navigation__arrow{
    transition: .5s all;
    &:hover{
        background-color: rgba($color: gray, $alpha: .3) !important;
        opacity: .8;
    }
}

.react-calendar__tile--active{
    background-color: transparent !important;
}