.course_container {
    display: flex;
    flex-direction: column;

    .brans_link {
        width: max-content;
        align-self: flex-end;
    }

    .filter_section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search_input {
            width: max-content;
        }
    }


    .card_container {
        padding: 15px 15px;
        background-color: rgba($color: #0B60B0, $alpha: 0.4);
        border-radius: 20px;
        margin: 15px 0;


        .test_content {
            display: flex;
            margin-top: 10px;
            text-transform: capitalize;
            flex-direction: column;
         
            .test_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 20px;
                margin-top: 5px;
                .test_title {
                    font-weight: bolder;
                    margin: 0;
                }

                .test_date {
                    font-size: .8rem;
                }
            }
            .test_footer{
                .detail_link{
                    background-color: #3FA7D6;
                    padding: 3px 15px;
                    border-radius: 10px;
                    color: white;
                    transition: .3s all;
                    font-weight: 500;
                    &:hover{
                        opacity: .8;
                        color: white
                    }
                }
            }
        }
    }

    .pagination_section {
        display: flex;
        justify-content: flex-end;
    }
}