.program_card {
    display: flex;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgba($color: gray, $alpha: .2);
    flex-direction: column;

    &_date {
        display: flex;
        justify-content: space-between;
    }
}

.course_document_card {
    background-color: rgba($color: cadetblue, $alpha: .4);
    padding: 15px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s all;
    width: 100%;
    margin: 10px 0;

    &:hover {
        opacity: .7;
    }

    p {
        color: whitesmoke;
    }

    &_content {
        display: flex;
        align-items: center;
    }
}

.document_modal_card_container {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: cadetblue, $alpha: .2);
    border-radius: 20px;

    &_content {
        display: flex;
        align-items: center;

        padding: 15px;

        .document_name {
            font-size: 11px;
            margin-left: 5px;
        }
    }

    .delete_btn_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 5px 10px;



        .delete_btn {
            padding: 3px 20px;
        }
    }
}

.bb-1 {
    border-bottom: 1px solid gray;
}